<div id="contactPage">
    <div class="contact-header-container">
        <div class="contact-header-left-line"></div>
        <h2 class="header">Contact Me</h2>
        <div class="contact-header-right-line"></div>
    </div>
    <div id="contactInfosContainer">
        <% contacts.forEach(contact => { %>
            <div class="contact-info-container">
                <img src="<%= contact.imgSource %>" alt="<%= contact.imgAlt %>">
                <a href="<%= contact.link %>" target="<%= contact.target %>">
                    <h4><%= contact.displayText %></h4>
                </a>
            </div>
        <% }) %>
    </div>
    <div class="contact-socials-container">
        <div class="contact-socials-left-line"></div>
        <% socials.forEach(social => { %>
            <a href="<%= social.link %>" target="_blank" id="<%= social.class %>" class="social-icon"></a>
        <% }) %>
        <div class="contact-socials-right-line"></div>
    </div>
</div>